.btn {
  $self: &;
  @extend %text-main;
  align-items: center;
  border: 0;
  color: $secondary-color;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  transition: all 0.25s $cubic-bezier-hover;

  path {
    transition: all 0.25s $cubic-bezier-hover;
  }

  &-link {
    text-decoration: none;
  }

  div {
    display: flex;
    height: 24px;
    margin-right: 12px;
    width: 24px;
  }

  &-primary {
    background: $primary-color;
    border: 1px solid $primary-color;

    path {
      fill: $secondary-color;
    }

    &:hover {
      background: $primary-color-dark;
      border: 1px solid $primary-color-dark;
      color: $white;

      path {
        fill: $white;
      }
    }
  }

  &-secondary {
    background: $tertiary-color;
    border: 1px solid $secondary-color;

    path {
      fill: $secondary-color;
    }

    &:hover {
      background: $tertiary-color-dark;
      border: 1px solid $white;
      color: $white;

      path {
        fill: $white;
      }
    }
  }

  &-large {
    border-radius: 12px;
    padding: 12px 48px;
  }

  &-tiny {
    border-radius: 12px;
    padding: 12px 32px;
  }

  &-block {
    border-radius: 12px;
    padding: 14px 62px;
    width: 100%;
  }

  &-utils {
    align-items: center;
    background: $tertiary-color-dark;
    border: 2px solid $secondary-color;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 64px;
    justify-content: center;
    opacity: 0.5;
    padding: 16px;
    position: fixed;
    transition: all 0.25s $cubic-bezier-hover;
    width: 64px;
    z-index: map-get($zindex, lvl1);

    path {
      fill: $secondary-color;
      transition: all 0.25s $cubic-bezier-hover;
    }

    &:hover {
      background: $tertiary-color;
      border: 2px solid $white;
      opacity: 1;

      path {
        fill: $white;
      }
    }

    &-active {
      background: $tertiary-color;
      border: 2px solid $white;

      path {
        fill: $white;
      }
    }
  }

  &-speech {
    bottom: 24px;
    right: 24px;
  }

  &-webcam {
    bottom: 96px;
    right: 24px;
  }

  &-small {
    border-radius: 5px;
    padding: 6px 12px;
  }
}
