.link-item {
  align-items: center;
  background: linear-gradient(90deg, $tertiary-color 50%, $tertiary-color-light 50%);
  background-position: top right;
  background-size: 200% 100%;
  border: 2px solid $primary-color;
  border-radius: 5px;
  display: flex;
  margin-bottom: 24px;
  padding: 12px 24px;
  text-decoration: none;
  transition: 0.25s all $cubic-bezier-hover;

  &:hover {
    background-position: top left;
  }

  &-icon {
    display: flex;
    height: 32px;
    margin-right: 24px;
    min-width: 32px;
    width: 32px;

    path {
      fill: $white;
    }
  }

  &-title {
    @extend %text-big;
    color: $white;
  }
}
