.stopwatch {
  $self: &;
  border: 2px solid $secondary-color;
  border-radius: 50%;
  display: flex;
  height: 22px;
  position: relative;
  transition: all .15s $cubic-bezier-smooth;
  width: 22px;

  &-needle {
    background: $secondary-color;
    border-radius: 2px;
    display: flex;
    height: 2px;
    left: calc(50% + 3.5px);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center left;
    transition: all .15s $cubic-bezier-smooth;
    width: 7px;
  }
}